oot {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);/*#cor de fundo*/
  color: var(--branco-principal);/*#cor da fonte*/
  font-family: var(--fonte-principal);/*#estilo de fontes*/
  font-size: 16px;/*#tamanho da fonte*/
  font-weight: 400;/*# negrito*/
}


* {/*#seletor universal*/
  margin: 0;/*#tamanho da margem*/
  padding: 0;/*#espaçamento interno*/
}

.principal {
  background-image: url("img/Background.png");/*# imagem como plano de fundo*/
  background-repeat: no-repeat;/*#imagem repetir apenas uma vez*/
  background-size: contain;/*#tamanho do plano de fundo*/
  align-items: center;/*#alinhamento de elementos*/
  text-align: center;/*#alinhamento dos textos*/
}

.container {
  height: 100vh;/*#altura#*/
  display: grid;/*#organiza os elementos#*/
  grid-template-columns: 50% 50%;/*#duas colunas de 50%#*/
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;/*#cantos arredondados*/
  padding: 1em;/*#espaçamento interno*/
  color: var(--branco-principal);/*#cor da fonte*/
  display: block;/*#como o elemento vai ser disposto*/
  text-decoration: none;/*#reseta decoração de textos*/
  margin-bottom: 1em;/*#margem inferior*/
}

.botao_secundario {
  background-color: transparent;/*cor de fundo*/
  border: 2px solid var(--branco-principal)/*Borda com 2px de largura, cor solida e branca*/
}

.container__aviso {
  font-size: 12px;/*tamanho da fonte*/
  color: var/*(--cinza-secundario);700/*
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;/*margem*/
}

.secundario__imagem {
  width: 80%;/*largura*/
}

.secundario {
  align-items: center;/*alinhamento*/
  margin: 0 10em;/*margem*/
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;/*tamanho da fonte*/
  color: var(--branco-principal);/**/
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);/*cor da fonte*/
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;/**/
}

.dispositivos__lista {
  display: flex;/**/
  justify-content: center;/**/
  list-style-type: none;/**/
  margin: 5em 0;/**/
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.lista__item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 5em 3em;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.lista__link a{
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.rodape__texto {
  margin: 1em 0;
  color: var(--cinza-secundario);
  font-size: 14px;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.lista__link a:active {
  color: purple;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}